:root{
    --primary: #5d5674;
    --secondary:blue;
    
}

/* Global Selector */
* {
    /* CSS Resetting */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Font  */
    font-family:Arial, sans-serif;
    list-style: none;

}


#login {
    color: #402E7A;
}


/* Login */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.login-heading{
    padding: 20px;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form-input {
    padding: 10px 20px;
}

.login-button {
    padding: 10px 20px;
    background-color: #4B70F5;
    border: none;
    color: #FFF;
}
/* End Login */

/* Navbar  */
.nav {
    display: flex;
    background-color: #402E7A;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.nav > div {
    padding: 10px;
}


.nav > div > ul {
    display: flex;
    gap: 20px;
}

.nav > div > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Navbar End */

/* Main */
.main{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    padding: 0px 150px;
}
.main>div>h2{
    font-size:50px;
    max-width: 60%;
    color:#6EDBFF;
    margin-top: 30px;
}

.main>div>p{
    font-size: 20px;
    max-width: 60%;
    margin-top: 20px;
}

.main>div>button{
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    align-items: center;
    height: 50px;
    width:150px;
    border-radius: 5px;
    background-color:#FF642D;
}

/* Main End */

/* userinput form */
.myform>input{
    padding:10px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px

}
.myform{
    /* padding: 0px 100px; */
    background-color:var(--primary);
    margin-top: 100px;
    text-align: center;
    
    
}
.divform{
    padding: 0px 120px;
    align-items: center;
    
}